:global(.simplebar-content-wrapper) {
    padding-right: 25px;
}

:global(.simplebar-track.simplebar-verical) {
    width: 2px;
    background-color: transparent;
}

:global(.simplebar-track.simplebar-horizontal) {
    width: 100%;
    background-color: #0c0d16;
}

:global(.simplebar-track.simplebar-horizontal .simplebar-scrollbar) {
    height: 11px;
}

:global(.simplebar-scrollbar:before) {
    right: 0;
    left: 0;
    border-radius: 0;
    background-color: #323443;
}

:global(.simplebar-scrollbar:before),
:global(.simplebar-scrollbar.simplebar-visible:before) {
    opacity: 1;
}

:global(.simplebar-track.simplebar-vertical) {
    width: 9px;
}

:global(.simplebar-track:after) {
    position: absolute;
    top: 2px;
    right: 0;
    bottom: 2px;
    left: 0;
    z-index: -1;
    border-radius: 0;
    width: 9px;
    background-color: #0c0d16;
    content: '';
}
