:root {
    /* Colors */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-navy-blue: #1030ac;
    --color-violet: #6428c1;
    --color-violet-light: #6076ff;
    --color-red: #ff0000;

    --color-gray-100: #000511;
    --color-gray-300: #494949;
    --color-gray-400: #b7b7b7;

    /* Gradients */
    --gradient-violet: linear-gradient(
        187.25deg,
        #6076ff -123.82%,
        #281a79 14.38%,
        #210152 71.61%
    );

    /* Z-Indexes */
    --zindex-hidden: -1;
    --zindex-zero: 0;
    --zindex-standard: 1;
    --zindex-up: 2;
    --zindex-menu: 5;
    --zindex-tooltip: 7;
    --zindex-mask: 9;
    --zindex-modal: 10;
    --zindex-tooltip-modal: 15;

    /* Animations */
    --anim-bounce: cubic-bezier(0.5, 1.8, 0.9, 0.8);
    --anim-in: cubic-bezier(0, 0, 0.2, 1);
    --anim-out: cubic-bezier(0.4, 0, 1, 1);
    --anim-standard: cubic-bezier(0.4, 0, 0.2, 1);

    /* Font weights */
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-600: 600;
    --font-weight-700: 700;
}
