@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800;900&display=swap');
@import './styles/variables.module.css';

:root {
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body :is(h1, h2, h3, h4, h5, h6, p, button, ul, li, label, input, a, div) {
    font-family: 'Outfit', sans-serif;
    font-weight: var(--font-weight-400);
}
